// Fonts

// Vars
$mainClr: #e74c3c;
$highestLayer: 1000;

$successClr: #40d47e;
$dangerClr: #e74c3c;

$commentUiWidth: 450px;

// Base CSS
*{
	box-sizing: border-box;
}
html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Lato;
	font-weight: 100;
	overflow: hidden;
	background: #252525;
}
a{
	&, &:active, &:link, &:hover, &:focus{
		display: inline-block;
    	text-decoration: none;
		color: #fff;
		padding-bottom: 3px;
		margin-bottom: 3px;
		border-bottom: 1px solid #fff;
	}	
}
.clear{
	clear: both;
}
.m-r{
	margin-right: 10px;
}
.m-l{
	margin-left: 10px;
}

// Like bar
.like-bar{
	margin: 20px 0;
	width: 50%; 
	height: 5px;
	background-color: $dangerClr;
	.like-percent{
		background-color: $successClr;
		height: 5px;
	}
}

// Clr
.clr-success{
	color: $successClr;
}
.clr-danger{
	color: $dangerClr;
}

// Loading bar
.loading{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 10px;
	z-index: 10000;
	.progress{
		width: 0;
		height: 100%;
		background: $successClr;
		transition: width 0.2s;
	}
	&.active{
		display: block;
	}
}

// Button
.button{
	border: 0;
	outline: 0;
	background: 0;
	font-family: inherit;
	font-weight: 400;
	font-size: inherit;

	color: #fff;
	background-color: $mainClr;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.4s;
	&:after{
		content: "\f10a";
		font-family: "Ionicons";
		margin-left: 20px;
	}
	&:hover, &:active{
		color: #fff;
		background-color: darken($mainClr, 10);
	}
	// Kinds
	&.disabled{
		background-color: lighten($mainClr, 30);
		color: #252525;
	}
}
.text-center{
	text-align: center;
}

// Search input
.search{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 3000;
	transform: translate(-50%, -50%);
	transition: all 1s;
	// Components
	input, span{
		display: inline-block;
		border: 0;
		outline: 0;
		background: 0;

		max-width: 100%;

		background-color: #fff;
		padding: 0.5em 0.5em;
		border-radius: 50%;

		font-size: 44px;
		font-weight: 400;
		font-family: Lato;
		text-align: center;
		transform-origin: center 0;
		transition: transform 1s,
					opacity 1s,
					box-shadow 1s;
	}
	input{
		box-shadow: 0 0 0 20px rgba(lighten(#e74c3c, 20), 0.2),
					0 0 0 40px rgba(lighten(#e74c3c, 10), 0.2),
					0 0 0 60px rgba(lighten(#e74c3c, 0), 0.2);
	}
	span{
		display: none;
	}
	// States
	&.has-searched{
		top: 40px;
		transform-origin: center 0;
		transform: translate(-50%, 0%);
		input{
			cursor: pointer; // Simulate a button
			opacity: 0.4;
			transform: scale(0.5);
			box-shadow: 0 0 0 0px #e74c3c,
						0 0 0 0px darken(#e74c3c, 10),
						0 0 0 0px darken(#e74c3c, 20);
		}
	}
}

// Items container
.items{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
body.state-fullscreen{
	.items{
		overflow-y: hidden;
	}
}

// Video item
$dur: 1s;
.video-item{
	position: absolute;
	background: #000;
	color: #fff;
	width: 25%; // 640px;
	height: 25vw * 0.5625; // 25% * 0.5625; // 360px;
	overflow: hidden;
	cursor: pointer;
    transform-style: preserve-3d;
	transition: width $dur,
				height $dur;
	&-inner{
    	transform-style: preserve-3d;		
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
	}
	// Components
	&-thumbnail{
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.4; // (0.5)
	}
	&-video{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.5;
		transition: opacity $dur;
	}
	&-ui{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 20px;
		transform: translateZ(5px); // Forced hardware acceleration
		transition: all $dur;
	}
	&-profile{
		position: absolute;
		bottom: 20px;
		right: 20px;
	}
	&-heading{
		margin: 0;
		margin-bottom: 0.5em;
	}
	p{
		margin: 0;
		margin-bottom: 0.5em;
	}
	.play-button{
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		padding: 0 3em;
		border-radius: 5px;
		background-color: $dangerClr;
		&:after{
			content: "\f488";
			font-family: "Ionicons";
			font-size: 5em;
			color: #fff;
		}
	}
	// State
	&.active{
		width: calc(100% - #{$commentUiWidth}); // 80vw;
		height: 80vh;
		.play-button{
			display: block;
		}
		.video-item-ui{
			transform: translateY(-100%);
		}
		.video-item-video{
			opacity: 1;
		}
	}
	&.started-video{
		.play-button{
			display: none;
		}
		.video-item-thumbnail{
			display: none;
		}
		.video-item-video{
			display: block;
		}
	}
}

//- Other ui
$commentUiPad: 20px;
.comment-ui{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: $commentUiWidth; // 20%;
	padding: $commentUiPad;
	padding-right: $commentUiPad*2 + 30px;
	background: #252525;
	color: #fff;
	overflow-x: hidden;
	overflow-y: auto;
	transform: translateX(100%);
	transition: all $dur;
	z-index: $highestLayer;
	// Items
	.comment-item{
		margin-bottom: 30px;
		.comment-profile{
			float: left;
			margin-right: 20px;
			width: 50px;
			height: 50px;
			background-size: cover;
			background-position: center;
			border-radius: 50%;
		}
		.comment-name{
			font-weight: 300;	
		}
		.comment-text{
			margin-left: 70px;
		}
		.comment-meta{
			margin-left: 70px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.comment-replies{
			margin-left: 70px;
		}
	}
}
.info-ui{
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% - #{$commentUiWidth}); // 80vw;
	height: 20vh;
	padding: 40px;
	background: lighten(#252525, 5);
	color: #fff;
	box-shadow: inset 0 0 20px #000;
	transform: translateY(100%);
	transition: all $dur;
	z-index: $highestLayer;
	overflow-x: hidden;
	overflow-y: auto;
	// Components
	&-title{
		margin: 0;
		margin-bottom: 20px;
		font-size: 2em;
		font-weight: 100;
	}
	&-right{
		position: absolute;
		top: 40px;
		right: 40px;
	}
	p{
		margin: 0;
		margin-bottom: 20px;
	}
}
.close-fullscreen{
	position: fixed;
	top: 0;
	right: 0;
	font-size: 4em;
	color: $mainClr;
	cursor: pointer;
	transform: translateX(100%);
	transition: all $dur/3;
	z-index: $highestLayer + 10;
	&:before{
		content: "\f404";
		font-family: "Ionicons";
	}
}
// Special ui state
body.state-fullscreen{
	.comment-ui{
		transform: translateX(0);
	}
	.info-ui{
		transform: translateY(0);
	}
	.close-fullscreen{
		right: $commentUiPad;
		transform: translateX(0);
		&:hover{
			transform: translateX(0)
					   rotate(-180deg)
					   scale(1.3);
		}
	}
}