<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title API

	//- Style
	link(rel="stylesheet", href="css/style.css")

	//- Ionicons
	link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")

	//- jQuery
	script(type="text/javascript", src="https://code.jquery.com/jquery-2.2.1.min.js")

	//- MustacheJS
	script(type="text/javascript", src="js/mustache.js")

	//- MoveTo (My own animation plugin script)
	script(type="text/javascript", src="js/requestanimframe.js")
	script(type="text/javascript", src="js/moveto.js")

	//- Custom scripts
	script(type="text/javascript", src="js/scripts.js")
body
	//- Loading bar
	.loading: .progress

	//- Search bar
	.search
		input(data-search, placeholder="Search for something awesome...")
		span
	
	//- Videos
	.items

	//- Comment ui
	.comment-ui
		p
			strong Comments
		.comment-items
	.close-fullscreen

	//- Info ui
	.info-ui

	
	//- Templates
	template(data-template="video-item")
		| {{#videos}}
		.video-item(data-videoid="{{id}}"): .video-item-inner
			//- Thumbnail
			.video-item-thumbnail(style="background-image: url({{snippet.thumbnails.high.url}});")
			//- Play button
			.play-button
			//- Info
			.video-item-ui
				h2.video-item-heading {{snippet.title}}
				p
					i.m-r.icon.ion-eye
					| {{statistics_formated.viewCount}}
				p
					span.m-r
						i.m-r.icon.ion-thumbsup.clr-success
						| {{statistics_formated.likeCount}}
					span.m-r
						i.m-r.icon.ion-thumbsdown.clr-danger
						| {{statistics_formated.dislikeCount}}
					span.m-r
						i.m-r.icon.ion-ios-chatbubble
						| {{statistics_formated.commentCount}}
				p #[i.m-r.icon.ion-thumbsup]/#[i.m-l.m-r.icon.ion-thumbsdown] {{custom.likeRatio}} times more likes than dislikes.
				p
					.like-bar
						.like-percent(style="width: {{custom.likeRatioPercent}}%;")
				| {{#user.items}}
				.video-item-profile
					a(href="http://youtube.com/channel/{{id}}", target="_blank")
						strong {{snippet.title}}
						img.m-l(src="{{snippet.thumbnails.medium.url}}", alt="{{snippet.title}}", width="50", height="50")
				| {{/user.items}}

		| {{/videos}}

	//- Comments
	template(data-template="comments")
		| {{#items}}
		.comment-item
			a.comment-profile(href="{{snippet.topLevelComment.snippet.authorChannelUrl}}", target="_blank", style="background-image: url({{snippet.topLevelComment.snippet.authorProfileImageUrl}});")
			.comment-name: a(href="{{snippet.topLevelComment.snippet.authorChannelUrl}}", target="_blank") {{snippet.topLevelComment.snippet.authorDisplayName}}
			.comment-text {{{snippet.topLevelComment.snippet.textDisplay}}}
			.comment-meta
				//- Reply count
				| {{#snippet.totalReplyCount}}
				span.m-r
					i.m-r.icon.ion-ios-chatbubble
					| {{snippet.totalReplyCount}}
				| {{/snippet.totalReplyCount}}
				//- Likes
				| {{#snippet.topLevelComment.snippet.likeCount}}
				span.m-l.m-r
					i.m-r.icon.ion-thumbsup
					| {{snippet.topLevelComment.snippet.likeCount}}
				| {{/snippet.topLevelComment.snippet.likeCount}}
			.comment-replies
				| {{#replies.comments}}
				.comment-item
					a.comment-profile-small(href="{{snippet.authorChannelUrl}}", target="_blank", style="background-image: url({{snippet.authorProfileImageUrl}});")
					.comment-name: a(href="{{snippet.authorChannelUrl}}", target="_blank") {{snippet.authorDisplayName}}
					.comment-text {{{snippet.textDisplay}}}
					.comment-meta
						//- Likes
						| {{#snippet.likeCount}}
						span.m-r
							i.m-r.icon.ion-thumbsup
							| {{snippet.likeCount}}
						| {{/snippet.likeCount}}
				| {{/replies.comments}}
		.clear
		| {{/items}}

		| {{#nextPageToken}}
		button.button.more-comments Load more comments
		| {{/nextPageToken}}

	//- Info ui
	template(data-template="info-ui")
		h2.info-ui-title 
			| {{snippet.title}}
		.like-bar
			.like-percent(style="width: {{custom.likeRatioPercent}}%;")
		p
			span.m-r
				i.m-r.icon.ion-eye
				| {{statistics_formated.viewCount}}
			span.m-r
				i.m-r.icon.ion-thumbsup.clr-success
				| {{statistics_formated.likeCount}}
			span.m-r
				i.m-r.icon.ion-thumbsdown.clr-danger
				| {{statistics_formated.dislikeCount}}
			span.m-r
				i.m-r.icon.ion-ios-chatbubble
				| {{statistics_formated.commentCount}}
		p
			| #[i.m-r.icon.ion-thumbsup]/#[i.m-l.m-r.icon.ion-thumbsdown] 
			| {{custom.likeRatio}} times more likes than dislikes.
		p
			strong Description 
		p
			| {{{custom.description}}}
		.info-ui-right
			| {{#user.items}}
			a(href="http://youtube.com/channel/{{id}}", target="_blank")
				strong {{snippet.title}}
				img.m-l(src="{{snippet.thumbnails.medium.url}}", alt="{{snippet.title}}", width="50", height="50")
			| {{/user.items}}