<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title API

	//- Style
	link(rel="stylesheet", href="css/style.css")

	//- jQuery
	script(type="text/javascript", src="https://code.jquery.com/jquery-2.2.1.min.js")

	//- Custom scripts
	script(type="text/javascript", src="js/scripts.js")
body
	//- Search bar
	.search
		input(data-search, placeholder="Search for something awesome...")
		span
	
	.items
